# PART I: TITLE CREATION

In [1]:
import pandas as pd
import os
import numpy as np
import re
from collections import Counter
import spacy
from spacy.language import Language
from spacy_language_detection import LanguageDetector

In [2]:
#set globals

#list of all ports in vol
port_names = [
    "Newchwang",
    "Tientsin",
    "Chefoo",
    "Hankow",
    "Kiukiang",
    "Chinkiang",
    "Shanghai",
    "Ningpo",
    "Foochow",
    "Tamsui",
    "Takow",
    "Amoy",
    "Swatow",
    "Canton"
]

#list of all table types in vols
g_all_table_types = [
    "Tonnage",
    "Values",
    "Articles",
    "Revenue",
    "Population"
]

#source path
source_path = '/Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/'

#### Create local directory for combined csv and txt files

`cp ".../annual_trade_reports/csv/*" ".../annual_trade_reports/csv_and_txt"`
`cp ".../annual_trade_reports/txt/*" ".../annual_trade_reports/csv_and_txt"`

In [3]:
def title_maker(year):
    
    folder_path = source_path + str(year) + '/csv_and_txt'
    
    files_list = os.listdir(folder_path)
    
    #dataframe with names of all the files in the folder 
    df = pd.DataFrame(files_list,columns=['file_name'])
    
    df = df.sort_values(by="file_name",ascending=True).reset_index().drop(columns=['index'])
    
    #get file type (csv or txt)
    df["file_type"] = df["file_name"].str[-3:]
    
    df["file_name"] = df["file_name"].str[:-4]
    
    df["title_port"] = np.nan
    
    df['title_port'] = df['title_port'].astype(object)

    df["title_table_type"] = np.nan
    
    df['title_table_type'] = df['title_table_type'].astype(object)
    
    #list that will contain the page numbers of all content pages
    content_pages = []
    
    #loops through each txt file in the folder
    for index, row in df.iterrows():
        
        if row['file_type'] == 'txt':
            
            file_path = source_path + str(year) + '/txt/' + str(df.loc[index]['file_name'])+'.txt'
            file = open(file_path, 'r')
            Lines = file.readlines()
            
            #removes trailing characters from each line in the file
            lines_list = [line.strip('\n').strip('.').title() for line in Lines]
            
            #removes roman numerical characters from the beginning of all lines (this is for the port name titles)  
            combinations_to_remove = [r"I\.?[-—─-]", r"Ii\.?[-—─-]",r"Iii\.?[-—─-]",r"Iv\.?[-—─-]",r"V\.?[-—─-]",r"Vi\.?[-—─-]",r"Vii\.?[-—─-]",r"Viii\.?[-—─-]",r"Ix\.?[-—─-]"]
            pattern = '|'.join(combinations_to_remove)
            lines_list = [re.sub(pattern, "", line) for line in lines_list]
            
            #convert lists to sets
            file_set = set(lines_list)
            all_ports = set(port_names)
            all_table_types = set(g_all_table_types)
            
            #check whether any port names occur in the file
            common_elements_title_port = file_set.intersection(all_ports)

            # Check if exactly one port name appears
            if len(common_elements_title_port) == 1:
                #if yes, this file is the cover/starting page for the port whose name appears  
                df.at[index, 'title_port'] = list(common_elements_title_port)[0]

            #check if any table type titles occur in the file 
            common_elements_title_table = file_set.intersection(all_table_types)
            
            #check if this file contains the word "Contents" once 
            if len(file_set.intersection({"Contents"})) == 1:
                #if yes, this page is the contents page
                content_pages.append(row['file_name'])
            #else, check if exactly one table type name appears in this file 
            elif len(common_elements_title_table) == 1:
                #if yes, this is the cover/starting page for that table type
                df.at[index, 'title_table_type'] = list(common_elements_title_table)[0]
            #else, check if exactly two different table type names appear in this file 
            elif len(common_elements_title_table) == 2:
                #if yes, this is the cover/starting page for that table type
                df.at[index, 'title_table_type'] = ','.join(common_elements_title_table)
    
    #forward fills the title column, ie. every page takes the value of the last valid/occuring title port name  
    #df['title_port'] = df['title_port'].fillna(method='ffill')
    df['title_port'] = df['title_port'].ffill()
    
    df.loc[0]['title_port']=df.loc[1]['title_port']
    
    #within the same port name, every page takes the value of the last valid/occuring table type   
    #df["new_table_type"] = df.groupby('title_port')['title_table_type'].fillna(method="ffill")
    df["new_table_type"] = df.groupby('title_port')['title_table_type'].ffill().infer_objects(copy=False)
    
    #marks all the content pages
    df.loc[df['file_name'].isin(content_pages), 'new_table_type'] = "Contents"
    
    df = df.drop(columns={"title_table_type"})
    df = df.rename(columns={"new_table_type":"title_table_type"})
    
    df["year"] = year
    df["file_path"] = df["file_name"] +"."+ df["file_type"]
    
    #files that come before the table types are categorized as "Notes"   
    df = df.fillna("Notes")
    
    df["title"] = df["title_port"]+ "-" +df["title_table_type"]
    
    return df[["title_port","title_table_type","year","file_path","title"]]

In [4]:
df_statistics = title_maker(1873)

/var/folders/x5/8k4j_05j26vccc6wvb8y4cw00000gq/T/ipykernel_23224/141445153.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[0]['title_port']=df.loc[1]['title_port']

In [5]:
df_statistics

    title_port title_table_type  year       file_path                title
0        Notes            Notes  1873       .DS_S.ore          Notes-Notes
1        Notes            Notes  1873    44319541.txt          Notes-Notes
2        Notes            Notes  1873    44319542.txt          Notes-Notes
3        Notes            Notes  1873    44319543.txt          Notes-Notes
4        Notes            Notes  1873    44319544.txt          Notes-Notes
..         ...              ...   ...             ...                  ...
754   Tientsin       Population  1873    44319950.txt  Tientsin-Population
755   Tientsin       Population  1873  44319950_a.csv  Tientsin-Population
756   Tientsin       Population  1873  44319950_b.csv  Tientsin-Population
757   Tientsin       Population  1873    44319951.txt  Tientsin-Population
758   Tientsin       Population  1873    44319952.txt  Tientsin-Population

[759 rows x 5 columns]

# PART II: NLP ENTITIES CREATION

### II(a) Create entities for all csv files

In [6]:
# Define the language detector factory function
def get_lang_detector(nlp, name):
    return LanguageDetector(seed=42)

# Load the spaCy model and register the language detector factory if not already registered
nlp = spacy.load('en_core_web_sm')
if 'language_detector' not in nlp.pipe_names:
    Language.factory("language_detector", func=get_lang_detector)
    nlp.add_pipe('language_detector', last=True)

@Language.component("filter_non_english_entities")
def filter_non_english_entities(doc):
    filtered_ents = []
    for ent in doc.ents:
        if all(token.is_alpha for token in ent):
            filtered_ents.append(ent)
    doc.ents = filtered_ents
    return doc

# Add the custom filter component to remove non-English entities
if 'filter_non_english_entities' not in nlp.pipe_names:
    nlp.add_pipe("filter_non_english_entities", last=True)

In [ ]:
def nlp_entities_maker_csv_orig(year):
    folder_path_csv = source_path + str(year) + '/csv'
    files_list = os.listdir(folder_path_csv)
    csv_files_df = pd.DataFrame(files_list,columns = ['file_name'])
    csv_files_df['nlp_entities'] = '[]'
    
    for index, row in csv_files_df.iterrows():
    
        df = pd.read_csv(folder_path_csv + '/' +str(row["file_name"]))
        
        #method 1 works only on "Special" files that have names of specific goods 
        try:
            df["DESCRIPTION OF GOODS."] = df["DESCRIPTION OF GOODS."].fillna("").astype(str)
            
            # Convert the description of goods column into a single string
            combined_text = ' '.join(df["DESCRIPTION OF GOODS."].tolist())
    
            #NER model
            def get_lang_detector(nlp, name):
                return LanguageDetector(seed=42)
    
            nlp = spacy.load('en_core_web_sm')
            Language.factory("language_detector", func=get_lang_detector)
            nlp.add_pipe('language_detector', last=True)
    
            doc = nlp(combined_text)
    
            # Extract and filter named entities with the desired label ('WORK_OF_ART')
            entities = [ent.text for ent in doc.ents if ent.label_ == 'WORK_OF_ART']
    
            # Count the occurrences of each named entity
            entities_counter = Counter(entities)
    
            # Get the top 7 most important 'WORK_OF_ART' entities based on frequency
            top_7_work_of_art_entities = entities_counter.most_common(7)
    
            csv_files_df.at[index, 'nlp_entities'] = top_7_work_of_art_entities
        
        #method 2: works on rest of the csv files
        except KeyError: 
            #converts all columns to string and concatenate their values into a single string
            combined_text = ' '.join(df.astype(str).apply(lambda x: ' '.join(x), axis=1).tolist())
    
            #includs the column names as potential named entities
            column_names = list(df.columns)
            combined_text += ' '.join(column_names)
    
            #NER model
            def get_lang_detector(nlp, name):
                return LanguageDetector(seed=42)
                            
            nlp = spacy.load('en_core_web_sm')
            Language.factory("language_detector", func=get_lang_detector)
            nlp.add_pipe('language_detector', last=True)
    
            doc = nlp(combined_text)
    
            #excludes entities with digits and entities containing 'NaN'
            entities = [ent.text for ent in doc.ents if not any(char.isdigit() for char in ent.text) and 'nan' not in ent.text.lower()]
    
            #counts the occurrences of each entity
            entity_counts = Counter(entities)
    
            #the 7 most common entities
            most_common_entities = entity_counts.most_common(7)
    
            csv_files_df.at[index, 'nlp_entities'] = most_common_entities
            
            csv_files_df = csv_files_df.rename(columns={"file_name":"file_path"})
            
    return csv_files_df

In [45]:
def nlp_entities_maker_csv(year):
    folder_path_csv = source_path + str(year) + '/csv'
    files_list = os.listdir(folder_path_csv)
    csv_files_df = pd.DataFrame(files_list, columns=['file_name'])
    csv_files_df['nlp_entities'] = '[]'

    for index, row in csv_files_df.iterrows():
        file_path = os.path.join(folder_path_csv, row["file_name"])
        df = pd.read_csv(file_path)

        # Load the NER model
        nlp = spacy.load('en_core_web_sm')
        
        if 'DESCRIPTION OF GOODS.' in df.columns:
            df["DESCRIPTION OF GOODS."] = df["DESCRIPTION OF GOODS."].fillna("").astype(str)
            combined_text = ' '.join(df["DESCRIPTION OF GOODS."].tolist())
        else:
            combined_text = ' '.join(df.astype(str).apply(lambda x: ' '.join(x), axis=1).tolist())
            column_names = list(df.columns)
            combined_text += ' ' + ' '.join(column_names)

        # Check if 'language_detector' factory is already registered
        if 'language_detector' not in nlp.pipe_names:
            Language.factory("language_detector", func=get_lang_detector)
            nlp.add_pipe('language_detector', last=True)

        doc = nlp(combined_text)

        entities = [ent.text for ent in doc.ents if ent.label_ == 'WORK_OF_ART' or (not any(char.isdigit() for char in ent.text) and 'nan' not in ent.text.lower())]
        entity_counts = Counter(entities)
        most_common_entities = entity_counts.most_common(7)
        
        csv_files_df.at[index, 'nlp_entities'] = most_common_entities
    
    csv_files_df = csv_files_df.rename(columns={"file_name": "file_path"})
    return csv_files_df

### II(b) Create entities for all txt files

In [40]:
#clean all txt files first
def clean_txt_files(year):
    folder_path_txt = source_path + str(year) + '/txt'
    files_list = os.listdir(folder_path_txt)
    txt_files_df = pd.DataFrame(files_list,columns=['file_name'])
    
    for index, row in txt_files_df.iterrows():
        file_path = folder_path_txt + '/' + str(row['file_name'])
        with open(file_path, 'rb') as file:
            dirty_txt = file.read()
    
        clean_data = dirty_txt.decode('utf-8', 'ignore')

        # Write the clean data to the output file in text mode
        with open(file_path, 'w', encoding='utf-8') as file:
            file.write(clean_data)

In [41]:
clean_txt_files(1873)

In [42]:
def nlp_entities_maker_txt(year):
    
    # Load the NER model
    nlp = spacy.load('en_core_web_sm')
    
    # Check if 'language_detector' factory is already registered
    if 'language_detector' not in nlp.pipe_names:
        Language.factory("language_detector", func=get_lang_detector)
        nlp.add_pipe('language_detector', last=True)

    # Add the custom filter component to remove non-English entities
    nlp.add_pipe("filter_non_english_entities", last=True)

    folder_path_txt = source_path + str(year) + '/txt'
    files_list = os.listdir(folder_path_txt)
    txt_files_df = pd.DataFrame(files_list, columns=['file_name'])
    txt_files_df['nlp_entities'] = '[]'

    for index, row in txt_files_df.iterrows():
        file_path = folder_path_txt + '/' + str(row['file_name'])
        
        # Read the content of the text file
        with open(file_path, 'r', encoding='utf-8') as file:
            text = file.read()

        doc = nlp(text)

        # Excludes entities with digits and entities containing 'NaN'
        entities = [ent.text for ent in doc.ents if not any(char.isdigit() for char in ent.text) and 'nan' not in ent.text.lower()]

        # Counts the occurrences of each entity
        entity_counts = Counter(entities)

        # The 7 most common entities
        most_common_entities = entity_counts.most_common(7)

        txt_files_df.at[index, 'nlp_entities'] = most_common_entities
        txt_files_df = txt_files_df.rename(columns={"file_name": "file_path"})
    
    return txt_files_df

# FINAL FUNCTION

In [43]:
def spreadsheet_maker(year):
    try:
        csv_files_df = nlp_entities_maker_csv(year)
        txt_files_df = nlp_entities_maker_txt(year)
        nlp_entities_year = pd.concat([txt_files_df, csv_files_df], axis=0)
        df_titles_year = title_maker(year)
        all_cols_year = pd.merge(df_titles_year, nlp_entities_year, on="file_path", how="left")
        return all_cols_year
    except Exception as e:
        print(f"Error in spreadsheet_maker: {e}")
        return None

In [44]:
metadata = spreadsheet_maker(1873)
metadata.to_csv(source_path + str(1873) + "/statistics_metadata.csv", index=False)

File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319736.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319905.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319948_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319783_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319878_12-13.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319656.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319916_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319796_8-9.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319859.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319704_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319850_16-18.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319914_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319781_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319678_8-9.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319871_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319737.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319948_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319584_30-31.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319730_10-11.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319783_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319588_34-35.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319706_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319758_12-13.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319655.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319916_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319873.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319704_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319899_11-12.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319654.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319898.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319914_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319781_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319871_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319708.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319936_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319842_8-9.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319917.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319903.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319893_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319763_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319726_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319816_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319830_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319636_20-21.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319877.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319620_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319693.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319876.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319651.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319604_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319622_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319942_12-13.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319934_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319702_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319724_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319902.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319936_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319727.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319760_b_14-15.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319624_8-9.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319733.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319893_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319726_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319763_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319830_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319846_12-13.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319816_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319686_16-17.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319690.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319620_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319691.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319861.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319875.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319592_38-39.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319622_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319604_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319934_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319724_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319702_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319901.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319732.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319874_8-9.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319741.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319894_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319742_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319764_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319872_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319594_40-41.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319938_8-9.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319782_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319609.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319601_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319578_24-25.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319807.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319870_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319608.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319915_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319950_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319808_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319740_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319754.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319795.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319894_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319764_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319597.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319742_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319872_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319782_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319601_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319805.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319804.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319870_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319623.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319596.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319950_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319915_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319808_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319853_19-21.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319740_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319780.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319753.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319664_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319621_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319817_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319784_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319892_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319762_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319627.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319633.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319659_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319800.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319680_10-11.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319725_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319829.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319760_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319703_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319828_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319632.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319626.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319572_18-19.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319547_iii-iv.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319638_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319935_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319666_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319640_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319949.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319590_36-37.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319778.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319621_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319664_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319817_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319784_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319598_44-45_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319892_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319762_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319659_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319703_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319725_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319828_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319638_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319935_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319640_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319666_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319944_14-15.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319801_13-14.csv

/var/folders/x5/8k4j_05j26vccc6wvb8y4cw00000gq/T/ipykernel_23224/141445153.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[0]['title_port']=df.loc[1]['title_port']

OSError: Cannot save file into a non-existent directory: '/Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/statistics'

## Testing & troubleshooting errors

`csv` files must be properly formatted for this script to work. If the encoding is funny, or there's column of values that are not aligned correctly, the spreadsheet maker will fail. It usually works to test whether a file can be read into a dataframe. If it can't then you have to manually inspect it, dpending on the error message, and go from there.

In [9]:
folder_path_csv = source_path + str(1873) + '/csv'
files_list = os.listdir(folder_path_csv)
csv_files_df = pd.DataFrame(files_list, columns=['file_name'])

In [10]:
csv_files_df

              file_name
0          44319736.csv
1          44319905.csv
2        44319948_b.csv
3        44319783_b.csv
4    44319878_12-13.csv
..                  ...
341      44319649_a.csv
342      44319772_b.csv
343        44319713.csv
344        44319707.csv
345      44319882_a.csv

[346 rows x 1 columns]

In [12]:
for index, row in csv_files_df.iterrows():
    #print(index, row)
    print(folder_path_csv + '/' + str(row['file_name']))
    df = pd.read_csv(folder_path_csv + '/' + str(row["file_name"]))
    print(df)

/Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319736.csv
                                DESCRIPTION OF GOODS. CLASSIFIER OF QUANTITY.  \
0                                                 NaN                     NaN
1                                                 NaN                     NaN
2                              Silk, Coarse and Wild,                  Peculs
3                                     „ Piece Goods,                        „
4                       „ Manuftd., Goods, Unclassed,                       „
5                                         Tea, Black,                       „
6                                           Camphor,                        „
7                                       Dates, Black,                       „
8                           Dyes, Colours and Paints,                       „
9                                Fish, of all kinds,                        „
10                                     Flour, Potato,                       „
11                              Fruits, of all kinds,                       „
12                      Glass Ware and Bangles, &c.,                        „
13                               Hides, of all kinds,                       „
14                                  Mats and Matting,                  Pieces
15                                             „ Tea,                       „
16                                         Medicine,                   Peculs
17                                       Melon Seeds,                       „
18                                 Oil, of all kinds,                       „
19  Paper, of all kinds, as Paper Ware, Books, Tin...                       „
20                                    Peas and Beans,                       „
21                         Provisions and Vegetables,                       „
22                                          Rhubarb,                        „
23                                      Sugar, White,                       „
24                                          „ Brown,                        „
25                                           „ Candy,                       „
26                                Tobacco, Prepared,                        „
27                                              Wax,                        „
28                            Sundries, Unenumerated,                   Value
29                                             TOTAL,                Hk. Tts.

        1868. Unnamed: 3      1869. Unnamed: 5      1870. Unnamed: 7  \
0   Quantity.     Value.  Quantity.     Value.  Quantity.     Value.
1         NaN   Hk. Tts.        NaN   Hk. Tts.        NaN   Hk. Tts.
2         NaN        NaN        NaN        NaN       0.44         29
3        0.82        799        NaN        NaN      28.73      6,902
4        0.80        390        NaN        NaN        NaN        NaN
5      315.20      4,098       8.96        116     607.26      7,894
6        1.75         20        NaN        NaN        NaN        NaN
7         NaN        NaN        NaN        NaN        NaN        NaN
8       17.34        226      90.24        569        NaN        NaN
9         NaN        NaN     129.40         84        NaN        NaN
10        NaN        NaN        NaN        NaN        NaN        NaN
11       8.88         52        NaN        NaN      41.02        213
12       0.52         25        NaN        NaN        NaN        NaN
13        NaN        NaN        NaN        NaN        NaN        NaN
14        NaN        NaN     20,000        585      6,000        260
15        NaN        NaN        NaN        NaN        NaN        NaN
16      19.36        333       6.26         57       5.31         77
17        NaN        NaN        NaN        NaN        NaN        NaN
18        NaN        NaN        NaN        NaN     127.50        663
19       1.21         32        NaN        NaN       2.80         36
20        NaN        NaN        NaN        NaN        NaN        NaN
21      28.50        222          3         20        650        845
22        NaN        NaN        NaN        NaN       2.85         37
23        NaN        NaN     210.93        918        NaN        NaN
24     303.65        592        NaN        NaN        NaN        NaN
25        NaN        NaN        NaN        NaN        160      1,040
26      13.56        352        NaN        NaN       5.53        144
27      19.05      6,810       6.26      1,238       1.60        260
28        NaN        590        NaN        349        NaN        632
29        NaN     14,541        NaN      3,936        NaN     19,032

        1871. Unnamed: 9      1872. Unnamed: 11
0   Quantity.     Value.  Quantity.      Value.
1         NaN   Hk. Tts.        NaN    Hk. Tts.
2         NaN        NaN        NaN         NaN
3         NaN        NaN        NaN         NaN
4         NaN        NaN        NaN         NaN
5         NaN        NaN        NaN         NaN
6         NaN        NaN        NaN         NaN
7         NaN        NaN         31         146
8         NaN        NaN        NaN         NaN
9         NaN        NaN        NaN         NaN
10        NaN        NaN        308         623
11        NaN        NaN        NaN         NaN
12        NaN        NaN        NaN         NaN
13       0.70         23        NaN         NaN
14      4,000        130        NaN         NaN
15        NaN        NaN     15,000         505
16       4.38         19     139.30         780
17        NaN        NaN     119.94         646
18        NaN        NaN        NaN         NaN
19        NaN        NaN        NaN         NaN
20   3,596.75      3,207        NaN         NaN
21        NaN         35        NaN         NaN
22        NaN        NaN        NaN         NaN
23        NaN        NaN        NaN         NaN
24        NaN        NaN        NaN         NaN
25        NaN        NaN        NaN         NaN
26       2.37         62         10         269
27        NaN        NaN        NaN         NaN
28        NaN        147        NaN          71
29        NaN      3,623        NaN       3,040
/Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319905.csv
                 Unnamed: 0           1863.           1864.           1865.  \
0                       NaN  Hk. Tts. m.c.c  Hk. Tts. m.c.c  Hk. Tts. m.c.c
1                 British,      1,817.9.2.3    24,333.7.2.1    22,135.5.3.8
2                American,              NaN             NaN       693.0.5.6
3                  French,              NaN       694.0.6.6     2,168.6.3.1
4   Swedish and Norwegian,              NaN     1,728.1.4.3     2,135.6.8.1
5                 Russian,              NaN             NaN             NaN
6                  German,      6,818.6.3.0    11,523.7.8.4     21,367.0.54
7                  Danish,      7,573.9.4.0     9,571.6.7.9     5,704.0.2.9
8                   Dutch,              NaN             NaN       308.3.4.5
9                 Spanish,              NaN             NaN        77.2.0.0
10                Belgian,              NaN             NaN             NaN
11                Italian,              NaN             NaN             NaN
12               Austrian,              NaN             NaN             NaN
13      Non-Treaty Powers,              NaN             NaN       339.0.9.5
14           Transit Dues,              NaN             NaN             NaN
15                  TOTAL,     16,210.4.8.3    47,351.3.9.3    54,988.6.2.8

             1866.           1867.           1868.           1869.  \
0   Hk. Tts. m.c.c  Hk. Tts. m.c.c  Hk. Tts. m.c.c  Hk. Tts. m.c.c
1     11,724.2.3.3    23,545.4.9.5    16,915.4.3.8    17,377.7.3.2
2        811.9.8.1       131.5.5.6     1,423.1.9.7             NaN
3         689.5.44     3,293.5.6.3     3,918.0.7.1     3,152.8.1.4
4        979.1.4.2             NaN        881.42.7             NaN
5              NaN             NaN             NaN     2,052.0.0.0
6     34,574.9.3.9    40,324.5.8.5    27,558.1.3.3    43,008.7.4.5
7        388.9.4.9     1,175.9.8.9             NaN     5,336.4.2.2
8      2,166.4.4.7             NaN       790.6.9.0     1,697.5.9.4
9              NaN             NaN             NaN             NaN
10             NaN             NaN             NaN             NaN
11             NaN             NaN             NaN             NaN
12             NaN             NaN             NaN             NaN
13        29.0.4.5             NaN             NaN        75.6.3.6
14             NaN             NaN             NaN             NaN
15    51,364.2.8.0    68,471,1.8.8    51,486.9.5.6     72,700.9.43

             1870.           1871.           1872.
0   Hk. Tts. m.c.c  Hk. Tts. m.c.c  Hk. Tts. m.c.c
1     30,045.0.5.4    52,714.5.7.8    58,395.8.6.8
2      3,372.5.0.0     3,686.6.1.5     3,712.9.3.2
3      3,937.7.8.0     6,972.3.8.4     3,311.8.8.2
4      5,953.6.0.8     7,995.9.2.0     3,766.8.2.1
5              NaN       662.6.7.6             NaN
6     49,000.0.6.1    21,682.1.9.2    33,014.9.3.2
7     13,045.3.9.0     12,889.0.90     1,525.4.6.4
8      6,077.4.3.8    10,203.4.0.6     5,412.7.5.7
9              NaN             NaN             NaN
10             NaN             NaN             NaN
11             NaN             NaN             NaN
12             NaN             NaN             NaN
13       350.1.9.0       491.0.1.2     1,553.2.3.5
14       743.4.2.0             NaN             NaN
15   112,525.4.4.1   117,297.8.7.3   110,694.8.9.1
/Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319948_b.csv
                                         Unnamed: 0            1863.  \
0                                               NaN  Hk. Tts. m.c.c.
1                                  Import Duties :-              NaN
2                                         General,      25,345.3.9.0
3                                           Opium,      63,132.2.0.7
4                                     Coast Trade,      48,849.0.0.1
5                                   Export Duties,      23,437.2.8.4
6                                    Tonnage Dues,       2,917.4.0.0
7                                        Transit „               NaN
8                                               NaN    163,681.2.8.2
9   Duties paid by Junks laden with Foreign Goods,               NaN
10         Unreclaimed Coast Trade Duty deposited,               NaN
11                                          TOTAL,     163,681.2.8.2

              1864.            1865.            1866.            1867.  \
0   Hk. Tts. m.c.c.  Hk. Tts. m.c.c.  Hk. Tts. m.c.c.  Hk. Tts. m.c.c.
1               NaN              NaN              NaN              NaN
2      33,696.9.2.7     70,118.9.3.8     96,746.5.8.3     64,009.5.7.0
3      63,811.9.2.1    166,316.0.7.3    272,419.0.4.5    236,828.9.0.0
4      59,588.8.0.6     62,909.2.1.7     78,327.1.2.0     61,218.4.3.9
5      50,151.2.7.1     54,639.3.3.2     86,528.7.8.9     43,412.4.2.0
6       3,600.7.0.0      4,039.6.0.0      7,314.1.0.0      5,828.5.0.0
7               NaN              NaN              NaN              NaN
8     210,849.6.2.5    358,023.1.6.0    541,335.6.3.7    411,297.8.2.9
9               NaN              NaN              NaN              NaN
10              NaN              NaN              NaN              NaN
11    210,849.6.2.5    358,023.1.6.0    541,335.6.3.7    411,297.8.2.9

              1868.            1869.            1870.            1871.  \
0   Hk. Tts. m.c.c.  Hk. Tts. m.c.c.  Hk. Tts. m.c.c.  Hk. Tts. m.c.c.
1               NaN              NaN              NaN              NaN
2      68,356.2.3.5     98,351.8.8.4     79,106.0.3.5    101,468.1.4.7
3     216,263.7.0.0    158,638.8.0.0    214,153.4.3.9    208,583.6.8.5
4      68,058.6.3.0     93,701.8.3.2     66,708.8.4.9     83,967.3.3.5
5      34,088.2.1.9     36,778.7.1.8     33,722.7.7.4     40,976.7.3.6
6       3,838.5.0.0      7,385.9.4.4      5,315.4.7.2      6,166.4.0.0
7               NaN              NaN              NaN              NaN
8     390,605.2.8.4    394,857.1.7.8    399,006.5.6.9    441,162.3.0.3
9               NaN              NaN              NaN              NaN
10              NaN              NaN              NaN              NaN
11    390,605.2.8.4    394,857.1.7.8    399,006.5.6.9    441,162.3.0.3

              1872.
0   Hk. Tts. m.c.c.
1               NaN
2      63,495.9.5.4
3     140,503.0.2.0
4      73,987.8.2.5
5      50,232.7.9.4
6       5,562.4.0.0
7               NaN
8     333,781.9.9.3
9               NaN
10              NaN
11    333,781.9.9.3
/Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319783_b.csv
  Unnamed: 0            1863.            1864.            1865.  \
0        NaN  Hk. Tts. m.c.c.  Hk. Tts. m.c.c.  Hk. Tts. m.c.c.
1   British,              NaN              NaN              NaN
2  American,              NaN              NaN              NaN
3   Russian,              NaN              NaN              NaN
4  Chinese,               NaN              NaN              NaN

             1866.            1867.            1868.            1869.  \
0  Hk. Tts. m.c.c.  Hk. Tts. m.c.c.  Hk. Tts. m.c.c.  Hk. Tts. m.c.c.
1         26.6.6.3         94.1.9.0        196.2.6.0        379.7.3.7
2              NaN              NaN              NaN        193.5.7.8
3              NaN              NaN              NaN              NaN
4              NaN              NaN              NaN              NaN

             1870.            1871.            1872.
0  Hk. Tts. m.c.c.  Hk. Tts. m.c.c.  Hk. Tts. m.c.c.
1        703.2.7.0        789.5.7.3        505.5.8.4
2        721.8.2.9        769.6.5.4              NaN
3      1,370.6.6.8      2,542.8.2.0      1,926.3.5.7
4              NaN        473.3.4.5     14,091.7.8.8
/Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319878_12-13.csv
       DESCRIPTION OF GOODS. CLASSIFIER OF QUANTITY.      1868. Unnamed: 3  \
0                        NaN                     NaN  Quantity.     Value.
1                        NaN                     NaN        NaN   Hk. Tts.
2     Silk, Raw and Thrown,                   Peculs         15      2,688
3      „ Piece Goods, Fine,                        „         65     26,371
4             „ „ „ Coarse,                        „         54      5,655
..                       ...                     ...        ...        ...
60               Wax, White,                       „         15        665
61                   Wheat,                        „     21,056     24,839
62                Woollens,                   Pieces      8,871      9,870
63  Sundries, Unenumerated,                    Value        NaN     15,015
64                   TOTAL,                 Hk. Tts.        NaN  1,552,305

        1869. Unnamed: 5      1870. Unnamed: 7      1871. Unnamed: 9  \
0   Quantity.     Value.  Quantity.     Value.  Quantity.     Value.
1         NaN   Hk. Tts.        NaN   Hk. Tts.        NaN   Hk. Tts.
2         NaN        NaN      10.23      4,016     171.22     37,891
3       91.52     32,947      68.19     44,633      68.33     50,708
4       71.51      7,021      64.17      5.508      48.69     11,489
..        ...        ...        ...        ...        ...        ...
60      12.90      2,532      28.04      2,752      46.24      3,226
61   1,036.25      1,392      1,350      1,892  23,862.29     39,997
62      2.639      2,765        NaN        NaN      1,409      1,328
63        NaN     31,247        NaN     19,900        NaN     47,329
64        NaN  2,092,736        NaN  2,273,613        NaN  3,192,983

        1872. Unnamed: 11
0   Quantity.      Value.
1         NaN    Hk. Tts.
2       86.05      22.491
3       68.45      48,058
4         NaN         NaN
..        ...         ...
60      96.23       7,147
61   63,924.6     167,397
62        NaN         NaN
63        NaN      44,548
64        NaN   6,219,426

[65 rows x 12 columns]
/Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319656.csv
               DESCRIPTION OF GOODS. CLASSIFIER OF QUANTITY.      1868.  \
0                                NaN                     NaN  Quantity.
1                    COTTON GOODS :—                     NaN        NaN
2                  Shirtings, White,                  Pieces         51
3           „ Dyed, Figured & Plain,                       „         24
4                         T-Cloths,                        „         46
5                           Drills,                        „          5
6           Chintzes and Furnitures,                       „         95
7                     Handkerchiefs,                  Dozens         57
8          Cotton Goods, Unclassed,                   Pieces         31
9                „ Yarn and Thread,                   Peculs       8.79
10                  WOOLLEN GOODS :—                     NaN        NaN
11                 Camlets, English,                  Pieces          4
12                    Cloth, Broad,                        „        NaN
13                 Spanish Stripes,                        „          4
14                        Lastings,                        „          1
15         Woollen Goods, Unclassed,                       „          4
16                         METALS :—                     NaN        NaN
17                     Copper Wire,                   Peculs      11.93
18                        Iron Wire,                       „        NaN
19                   Tin, in Slabs,                        „        NaN
20  Metals, Manufactured, Unclasaed,                   Value        NaN
21                       SUNDRIES :—                     NaN        NaN
22                      Betel Nuts,                   Peculs   6,377.69
23                     Birds’ Nests,                       „      21.34
24                    Bicho de Mar,                        „     538.66
25                  Camphor, Baroos,                       „       3.75
26                        Cardamoms,                       „     538.99
27               Cloves and Spices,                        „      14.46
28                  Cornelian Beads,                       „       9.82
29                        Dye Stuff,                       „       7.14
30                 Elephants’ Teeth,                       „      15.47
31          Feathers, Kingfishers’,                   Pieces     27,250
32                       Fish Maws,                   PecuIs     292.54
33                  „ Dry and Salt,                        „        NaN
34                         Ginseng,                        „       0.05
35                         Needles,                    Mille         90
36                          Paints,                   Peculs      44.15
37                         Rattans,                        „   4,938.37
38                       Sandalwood,                       „     239.16
39                         Sapanwood                       „     334.58
40    Wood, other sorts, Unclassed,                    Value        NaN
41           Seaweed and Agar-Agar,                   Peculs        NaN
42                    Sharks’ Fins,                        „   1,576.74
43  ShelI-rish, Awabi, Shrimps, &c.,                       „      65.20
44                        Silk, Raw,                     NaN       2.74
45          Sundries, Unenumerated,                    Value        NaN
46                            TOTAL,                Hk. Tts.        NaN

   Unnamed: 3      1869. Unnamed: 5      1870. Unnamed: 7      1871.  \
0      Value.  Quantity.     Value.  Quantity.     Value.  Quantity.
1    Hk. Tts.        NaN   Hk. Tts.        NaN   Hk. Tts.        NaN
2         105         60        124         22         49        NaN

In [18]:
df = pd.read_csv("/Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319905.csv")
df

,Unnamed: 0,1863.,1864.,1865.,1866.,1867.,1868.,1869.,1870.,1871.,1872.
0,NaN,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c
1,"British,","1,817.9.2.3","24,333.7.2.1","22,135.5.3.8","11,724.2.3.3","23,545.4.9.5","16,915.4.3.8","17,377.7.3.2","30,045.0.5.4","52,714.5.7.8","58,395.8.6.8"
2,"American,",NaN,NaN,693.0.5.6,811.9.8.1,131.5.5.6,"1,423.1.9.7",NaN,"3,372.5.0.0","3,686.6.1.5","3,712.9.3.2"
3,"French,",NaN,694.0.6.6,"2,168.6.3.1",689.5.44,"3,293.5.6.3","3,918.0.7.1","3,152.8.1.4","3,937.7.8.0","6,972.3.8.4","3,311.8.8.2"
4,"Swedish and Norwegian,",NaN,"1,728.1.4.3","2,135.6.8.1",979.1.4.2,NaN,881.42.7,NaN,"5,953.6.0.8","7,995.9.2.0","3,766.8.2.1"
5,"Russian,",NaN,NaN,NaN,NaN,NaN,NaN,"2,052.0.0.0",NaN,662.6.7.6,NaN
6,"German,","6,818.6.3.0","11,523.7.8.4","21,367.0.54","34,574.9.3.9","40,324.5.8.5","27,558.1.3.3","43,008.7.4.5","49,000.0.6.1","21,682.1.9.2","33,014.9.3.2"
7,"Danish,","7,573.9.4.0","9,571.6.7.9","5,704.0.2.9",388.9.4.9,"1,175.9.8.9",NaN,"5,336.4.2.2","13,045.3.9.0","12,889.0.90","1,525.4.6.4"
8,"Dutch,",NaN,NaN,308.3.4.5,"2,166.4.4.7",NaN,790.6.9.0,"1,697.5.9.4","6,077.4.3.8","10,203.4.0.6","5,412.7.5.7"
9,"Spanish,",NaN,NaN,77.2.0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Belgian,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Italian,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Austrian,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Non-Treaty Powers,",NaN,NaN,339.0.9.5,29.0.4.5,NaN,NaN,75.6.3.6,350.1.9.0,491.0.1.2,"1,553.2.3.5"
14,"Transit Dues,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,743.4.2.0,NaN,NaN
15,"TOTAL,","16,210.4.8.3","47,351.3.9.3","54,988.6.2.8","51,364.2.8.0","68,471,1.8.8","51,486.9.5.6","72,700.9.43","112,525.4.4.1","117,297.8.7.3","110,694.8.9.1"

In [37]:
test_csv = another_nlp_entities_maker_csv(1873)

File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319736.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319905.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319948_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319783_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319878_12-13.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319656.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319916_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319796_8-9.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319859.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319704_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319850_16-18.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319914_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319781_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319678_8-9.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319871_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319737.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319948_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319584_30-31.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319730_10-11.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319783_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319588_34-35.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319706_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319758_12-13.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319655.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319916_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319873.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319704_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319899_11-12.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319654.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319898.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319914_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319781_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319871_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319708.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319936_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319842_8-9.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319917.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319903.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319893_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319763_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319726_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319816_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319830_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319636_20-21.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319877.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319620_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319693.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319876.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319651.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319604_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319622_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319942_12-13.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319934_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319702_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319724_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319902.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319936_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319727.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319760_b_14-15.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319624_8-9.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319733.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319893_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319726_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319763_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319830_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319846_12-13.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319816_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319686_16-17.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319690.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319620_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319691.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319861.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319875.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319592_38-39.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319622_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319604_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319934_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319724_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319702_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319901.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319732.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319874_8-9.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319741.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319894_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319742_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319764_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319872_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319594_40-41.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319938_8-9.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319782_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319609.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319601_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319578_24-25.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319807.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319870_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319608.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319915_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319950_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319808_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319740_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319754.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319795.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319894_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319764_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319597.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319742_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319872_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319782_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319601_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319805.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319804.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319870_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319623.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319596.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319950_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319915_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319808_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319853_19-21.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319740_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319780.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319753.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319664_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319621_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319817_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319784_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319892_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319762_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319627.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319633.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319659_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319800.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319680_10-11.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319725_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319829.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319760_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319703_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319828_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319632.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319626.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319572_18-19.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319547_iii-iv.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319638_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319935_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319666_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319640_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319949.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319590_36-37.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319778.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319621_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319664_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319817_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319784_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319598_44-45_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319892_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319762_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319659_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319703_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319725_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319828_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319638_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319935_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319640_b.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319666_a.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319944_14-15.csv
File name: /Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319801_13-14.csv